*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background: linear-gradient(rgb(6, 31, 255), yellow);
    background-repeat: no-repeat;
}
.juego{
    display: flex;
    justify-content: center;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carcasa{
    width: 550px;
    height: 550px;
    border: 4px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info{
    width: 150px;
    height: 80px;
    border: 2px solid green;
    text-align: start;
}
.ficha{
    /*position: absolute;*/
    width: 125px;
    height: 125px;
    background: white;
    border: 2px solid black;
    margin: 0.5%;
    color: white;
    font-size: 30px;
}
.ficha:hover{
    background: aquamarine;
    cursor: pointer;
    color: aquamarine;
}
.descubierta{
    /*position: absolute;*/
    width: 125px;
    height: 125px;
    background: white;
    border: 2px solid black;
    margin: 0.5%;
    color: red;
    font-size: 30px;
}
.punto{
    background: yellow;
}