*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f54c4c;
    background: radial-gradient(circle, rgba(245, 76, 76, 1) 0%, rgba(96, 87, 199, 1) 50%, rgba(83, 214, 237, 1) 100%);
}
h1{
    font-size: 50px;
    color: #fff;
}
#memoria{
    cursor: pointer;
}
.juego{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carcasa{
    background: green;
    border: 4px solid red;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 2%;
}
.ganador{
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid blueviolet;
    background: radial-gradient(#0Ff, #f54c4c);
    background-size: cover;
    border-radius: 50%;
    z-index: 10;
    /*opacity: 0.6;*/
    transition: 2s ease-out;
}
.ganador > img{
    width: 100%;
}
.perdedor{
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid blueviolet;
    background: radial-gradient(#f0f, #f54c4c);
    background-size: cover;
    border-radius: 50%;
    z-index: 10;
    /*opacity: 0.6;*/
    transition: 2s ease-out;
}
.perdedor > img{
    width: 100%;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: #198754;
    color: #fff;
}
.info{
    width: 160px;
    height: 80px;
    border: 2px solid black;
    text-align: start;
    background: white;
}
.contenedor-ficha{
    width: 130px;
    height: 130px;
    margin: 1%;
}
.ficha{
    width: 129px;
    height: 129px;
    background: white;
    border-radius: 5px;
}
.dato{
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}
.invisible{
    opacity:0;
}
.ficha:hover{
    background: aquamarine;
    cursor: pointer;
    color: transparent;
    width: 101%;
    height: 101%;
}
.descubierta{
    width: 100%;
    height: 100%;
    background: #e4ff98;
    color: red;
    font-size: 50px;
    transform: rotateY(0deg);
}
@media(max-width: 810px){
    .juego{
        width: 100%;
    }
    .carcasa{
        width: 100%;
    }
    .contenedor-ficha, .ficha{
        width: 115px;
        height: 115px;
    }
}
@media(max-width: 560px){
    .contenedor-ficha, .ficha{
        width: 100px;
        height: 100px;
    }
    .info{
        width: 110px;
        height: 70px;
    }
}
@media(max-width: 466px){
    .juego{
        flex-direction: column;
    }
    .contenedor-ficha, .ficha{
        width: 100px;
        height: 100px;
    }
    .information{
        width: 80%;
    }
    .info{
        width: 100%;
    }
}
@media(max-width: 328px){
    .contenedor-ficha, .ficha{
        width: 80px;
        height: 80px;
    }
}
@media(max-width: 264px){
    .contenedor-ficha, .ficha{
        width: 60px;
        height: 60px;
    }
}